/* Importing font from googlefont */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Resseting Margin & Padding */
* {
    margin:0px;
    padding:0px;
}


/* Setting default font for webpage */

body {
    font-family: "Azeret Mono", monospace;
    color:rgb(13, 19, 33);
}





/* ------Common CSS Properity Start here ---------*/

.smart-container {
    width:79.16%;
    margin:0 auto;
}




/* ------Common CSS Properity End here------ */




/*NavBar CSS */
header>nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
       
}

header>nav>.logo {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

header>nav>.download-btn>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color:rgb(13, 19, 33);
    border:1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px
}

.nav-container {
    margin-top:50px;
}



/* Hero Section Start Here */
.hero {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top:47px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.avatar {
    margin-top:26px;
}

.headline {
    max-width: 69.30%;
}

.headline h2 {

    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-top: 32px;
    
}

.headline-description  {
    max-width:59.16%;
    margin-top:24px;

}
.headline-description p {
    
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

}

.contact-btn {

    margin:44px 0px;

}

.contact-btn a {
    
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color:rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px;
    border-radius: 8px;
    padding: 21px 24px;

}